DATABASE_URL=${{Postgres.DATABASE_URL}}
JWT_EXPIRES_IN=15m
JWT_SECRET=change-me-to-a-long-random-secret
NODE_ENV=production
PORT=3000
REFRESH_TOKEN_EXPIRES_IN=7d

# S3 Storage (Turso/T3)
S3_ENDPOINT=https://t3.storageapi.dev
S3_REGION=auto
S3_BUCKET=recorded-tupperware-vdrvxr
S3_ACCESS_KEY_ID=tid_iCEkNKGieAsygJszLGLMkTXRDpQkfEPoJFUKgJSIrSqbPGMEnC
S3_SECRET_ACCESS_KEY=tsec_dHHxUDmRKV3wOL9NwOVwmieb-WJlcImcHVhklIC66E8WWa5lR_6Uaz94+jDEHHqa1pO5jK
